
<button (click)="Addmenu()">AddMenu</button>
<div class="menu-container">
    
    <div class="menu-card" *ngFor="let item of menu">
      <div class="menu-card-header">
        <h3>{{ item.name }}</h3> 
      </div>
      <div class="menu-card-body">
        <p>{{ item.description }}</p> 
      </div>
      <div class="menu-card-body">
        <p>{{ item.available | menuitemavilabilty }}</p> 
      </div>
      <div class="menu-card-footer">
        <button class="menu-card-button">Add to Cart</button>
      </div>
    </div>
  </div>
