


<form [formGroup]="menuForm" (ngSubmit)="onSubmit()" >

    <label for="name">Name:</label>
    <div>heelo</div>
  <input id="name" formControlName="name" type="text" />

  <label for="description">Description:</label>
  <input id="description" formControlName="description" type="text" />

  <label for="price">Price:</label>
  <input id="price" formControlName="price" type="number" />

  <select id="available" formControlName="available">
    <option [value]="true">yes</option>
    <option [value]="false">no</option>
  </select>

 
<button type="submit">submit</button>



</form>











